.sofa-icon {
    font-size: 8em;
}

.hammer-icon {
    font-size: 8em;
}

.water-icon {
    font-size: 8em;
}

.forbidden-icon {
    font-size: 8em;
}

.phone-icon {
    font-size: 4em;
}

.mail-icon {
    font-size: 4em;
}

.whatsapp-icon {
    font-size: 1em;
}

.location-icon {
    font-size: 4em;
}
